<!doctype html>
<html>

<head>
    <title>Sharks-Ice Hockey Game Predictor</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body {
            padding-top: 80px;
        }
        
        .body-styles {
            background-repeat: no-repeat;
            background-size: 100%;
            background-image: url(images/im1.jpg);
        }
        
        h1.main {
            color: black;
            text-align: center;
            font-weight: bold;
        }
        
        label {
            color: black;
            font-size: 20px;
            text-align: center;
            
        }

        .button {
            background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

    </style>
</head>

<body class="body-styles">
    <div class="col-sm-3">
    </div>

    <div class="col-sm-6" style="text-align:center">
        <form action="/subscribeUser" method="post">
            <div class="form-group row">
                <h1 class="main">Enter your details below</h1>
            </div>
            <div class="form-group row">
                <label for="FirstName" class="col-sm-2 col-form-label">First Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="FirstName" id="FirstName" placeholder="First Name">
                </div>
            </div>
            <div class="form-group row">
                <label for="LastName" class="col-sm-2 col-form-label">Last Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="LastName" id="LastName" placeholder="Last Name">
                </div>
            </div>
            <div class="form-group row">
                <label for="Email" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" name="Email" id="Email" placeholder="Email">
                </div>
            </div>
            <div class="form-group row">
                <label for="Email" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <button type="submit" class="button" style="display: block; margin: 0 auto;">Subscribe</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-sm-3">
    </div>
</body>

</html>