<!doctype html>
<html>
<head>
	<title>Sharks-Ice Hockey Game Predictor</title>

<h2>Subscribe</h2>

<body>

<form action="/subscribeUser" method="post">
  First name:<br>
  <input type="text" name="FirstName" placeholder="firstname">
  <br>
  Last name:<br>
  <input type="text" name="LastName" placeholder="lastname">
  <br><br>
  <input type="submit" value="Submit">
   Email:<br>
  <input type="email" name="Email" placeholder="email">
  <br><br>
  <input type="submit" value="Submit">
</form> 


</body>
</html>
